body{
  background-color: rgb(250,250,250);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  font-size: 4rem;;
  margin-bottom:-2rem;
}

.image{
  width:115px;
  height:65px;
  position: relative;;
  top:-40px;
  right:85px;
}